body
{
  background-color: papayawhip;
  font-family: serif;

}
*{
  margin: 0;
  padding: 0;
}
h1{
  color: steelblue;

}
h2
{color: steelblue;

}

img{

  height:200px;
  border: 0px solid black;
  border-radius: 30%;
  margin: 10px;

}
.contact{
  text-transform: uppercase;
  text-decoration:none;
  border: 1px solid grey;
  padding: 20px;
color: steelblue;
border-radius: 3px;
display: inline-block;
transition: all 0.3s ease 0s;

}
.contact:hover{
  color: #494949;
border-radius: 30px;
border-color: #494949;

}
div{
  width: 70%;
  margin:auto;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}
ul{
  list-style-position: inside;
}
.second-section{
  margin-top: 20px;
}
.hobbies{
  margin-left: 100px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

}
.wrapper {
  width:100%;
  margin: 20px 0 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
  background-color: steelblue;
}
.wrapper p{
  flex:1;
  color:white;
  font-size: 20px;
  font-style: italic;
}
.wrapper p:last-of-type{
  text-align: right;
  margin-right: 5px;
}
a{
  text-decoration: none;
}



table:last-of-type{
  width:70%;
  margin-bottom: 20px;
}
